@import url('normalize.css');
/* Icon font for player controls */
@font-face {
	font-family: 'playericons';
	src: 	url("fonts/playericons.eot");
	src: 	url("fonts/playericons.eot?#iefix") format('embedded-opentype'), 
		url("fonts/playericons.woff") format('woff'), 
		url("fonts/playericons.ttf") format('truetype'), 
		url("fonts/playericons.svg#playericons") format('svg');
	font-weight: normal;
	font-style: normal;
}
/* General Demo Style */

body{
	font-family: Cambria, Georgia, serif;
	background: transparent;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
a{
	color: #2886BC;
	text-decoration: none;
}
a:hover{
	color: #000;
}
.container{
	width: 100%;
	position: relative;
	background: transparent;
	margin: 0;
	padding: 0;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container > header{
	display: none;
}

.main{
	width: 672px;
	height: 480px;
	padding: 30px 0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* Header Style - Hidden for Notion integration */
.codrops-top{
	display: none;
}
.attribution{
	display: none;
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}