@import url("normalize.css");

/* Icon font for player controls */
@font-face {
  font-family: "playericons";
  src: url("fonts/playericons.eot");
  src:
    url("fonts/playericons.eot?#iefix") format("embedded-opentype"),
    url("fonts/playericons.woff") format("woff"),
    url("fonts/playericons.ttf") format("truetype"),
    url("fonts/playericons.svg#playericons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General Demo Style */
body {
  font-family: Cambria, Georgia, serif;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

a {
  color: #2886bc;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.container {
  width: 100%;
  position: relative;
  background: transparent;
  margin: 0;
  padding: 0;
}

.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}

.container > header {
  display: none;
}
