/* Main container */
.vc-container {
  text-align: center;
  min-height: 500px;
  height: auto;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
  padding: clamp(10px, 4vw, 40px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, 5vw, 40px);
}

/* Tape elements */
.vc-tape-wrapper {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.vc-tape {
  width: min(90vw, 586px);
  aspect-ratio: 586 / 379;
  height: auto;
  margin: clamp(10px, 5vw, 30px) auto 0;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.vc-loader {
  position: absolute;
  width: clamp(20px, 4vw, 31px);
  height: clamp(20px, 4vw, 31px);
  bottom: clamp(20px, 6vw, 50px);
  left: 50%;
  transform: translateX(-50%);
  background: transparent url("../images/ajax-loader.gif") no-repeat center center;
  background-size: contain;
  display: none;
}

.vc-tape-back {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent url("../images/cs_back.png") no-repeat center center;
  background-size: 100% 100%;
}

.vc-tape-wheel {
  width: 21.32%;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 29%;
  background: transparent;
  border-radius: 50%;
}

.vc-tape-wheel-left {
  left: 18.6%;
  box-shadow: 0 0 0 clamp(30px, 12vw, 70px) #000;
}

.vc-tape-wheel-right {
  right: 19.3%;
}

@-webkit-keyframes rotateLeft {
  0% { -webkit-transform: rotate(0deg) translateZ(-1px); }
  100% { -webkit-transform: rotate(-360deg) translateZ(-1px); }
}
@-webkit-keyframes rotateRight {
  0% { -webkit-transfo
